# CS167
Jan 3rd, 2023
Python Review

In [2]:
a=10
b=3.14
c = "machine learning"
d = 'hi'
e = 'x'
f = [1,2,3]
print(a,b,c,d,e,f)

10 3.14 machine learning hi x [1, 2, 3]

In [4]:
print("a's type:", type(a)) # integer?
a = 'variables can change types'
print("a's type:", type(a)) # string
print(type(b)) # float
print(type(c)) # string
print(type(d)) # string
print(type(e)) # string
print(type(f)) # list? yessir

a's type: <class 'str'>
a's type: <class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'list'>

In [10]:
x = [1,2,3]  # type list
y=x # y = [1,2,3]
x[0] = "abc" # x = ['abc',2,3]
print(y) # y = [1,2,3], y[0] = 1
#before you run, what will the value of y[0] be? # y[0] = 'abc'
# python saves things by reference, y is just pointing at x

['abc', 2, 3]

In [11]:
z = x[1]
x[1] = "what"
print(x) # x = ['abc','what',3]
print(z) # z = 2
x.append(70)
x.insert(2,90) # x[2] = 90
print(x) # x = ['abc','what',90,3,70]
#can you predict what will be output?

['abc', 'what', 3]
2
['abc', 'what', 90, 3, 70]

In [15]:
print( x.index(90) ) # returns 2
print( len(x) ) # returns 5
print( x+x ) # x looped twice?
#can you predict what will be output?

2
5
['abc', 'what', 90, 3, 70, 'abc', 'what', 90, 3, 70]

In [16]:
#List Slices 

my_list = [33, 55, 'hello','R2D2',7.8,'banana']
print( my_list[1:5] ) # prints 1st element until 5th
print( my_list[:4]) # prints beginning until 4th element
print( my_list[4:]) # prints 4th element till end
print( my_list[:]) # prints last element?, incorrect prints entire list

[55, 'hello', 'R2D2', 7.8]
[33, 55, 'hello', 'R2D2']
[7.8, 'banana']
[33, 55, 'hello', 'R2D2', 7.8, 'banana']

`my_list[1:5]` - includes first element, but does not include 5th


`my_list[:]` - returns entire list

`my_list[2:]` - returns 2nd list until final element, does not return final element

In [17]:
my_slice = my_list[1:5] 
my_slice[2] = 'what'
print(my_slice)
print(my_list)
print(my_list[1:5] + 2*['Drake','University'])
my_list[:0] = ['Bulldogs']
print(my_list)
# why isn't "Drake" or "University" printed out in this last line?

[55, 'hello', 'what', 7.8]
[33, 55, 'hello', 'R2D2', 7.8, 'banana']
[55, 'hello', 'R2D2', 7.8, 'Drake', 'University', 'Drake', 'University']
['Bulldogs', 33, 55, 'hello', 'R2D2', 7.8, 'banana']

-`my_slice` = `[55,'hello','R2D2',7.8]`
- second line sets second element equal to 'what'
- third line prints original list
- `my_list[:0]` inserts new item at beginning of list

In [18]:
my_list = [42, 3.14, 'hello', ['ice', 'ice', 'baby']]
print(my_list[3][2]) # returns 'baby'
print(my_list[2][1]) # returns nothing? 
# wait, what? 
# explain what is happening here

baby
e

Guess was incorrect- `my_list[2][1]` returns the second character of the third item in the list ie returns _e_

In [20]:
# In Python, a tuple is a collection which is ordered andÃ‚Â unchangeable. 
# In Python tuples are written with round brackets.

my_tuple = (100,200,'300')
print(my_tuple[1]) # returns 200
my_dictionary = {'x':42, 'y':3.14}
print(my_dictionary['x']) # returns 42

200
42

In [ ]:
# Each of these lines will cause an error. 
# Can you describe why before running them one at a time?

print(my_list[1][2]) # cannot iterate through a float?
my_tuple[1] = 0 # tuples are unchangeable, cannot attempt to change
print(my_dictionary[1]) # you call a dictionary by using the key, cannot index it

In [24]:
# If statements and for loops
x = int(input())
if x < 0:
    print("x is negative")
elif x % 2:
    print("x is positive and odd")
else:
    print("x is even and nonnegative")

num_list = [3, 7, 9,17, 2]
for num in num_list:
    print(num) # returns each element

print(range(10,20))
for n in range(10,20):
    print(n) # returns 10 - 19

3
x is positive and odd
3
7
9
17
2
range(10, 20)
10
11
12
13
14
15
16
17
18
19

In [26]:
# iterating Through Data
my_data = [5.3, 3.2, 4.1, 5.9, 6.7, 3.5]
# method 1
for element in my_data:
    print(element) # returns each element

# method 2
for idx in range(len(my_data)): # calculates length of list
    print(my_data[idx]) # goes through the list

5.3
3.2
4.1
5.9
6.7
3.5
5.3
3.2
4.1
5.9
6.7
3.5

In [27]:
# Explain why these won't work:
my_data = [5.3, 3.2, 4.1, 5.9, 6.7, 3.5]
for i in my_data:
    print( my_data[i] ) # will use elements as indices, cannot return my_data[5.3]

for i in range(len(my_data)):
    print( i ) # will return a list of integers 1 through n

for i in range(my_data): # cannot find range of my_data can only find range(len(my_data))
    print( my_data[i] )

TypeError: ignored