<a href="https://colab.research.google.com/github/nickwharff/CS167_Notes/blob/main/Day07_Project1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CS167: Day07
## Part 1: Project #1

#### CS167: Machine Learning, J-Term 2023

Wednesady, January 11th, 2023 -- Session I

[‚èÆ Day06 Part 2]() | [Day07 Part 2‚è©]()

## This Week Overview:

| **Date** | **Day of Week** | **Day of Class** | **Topic**                               | **Assigned** | **Due (11:59pm)** |
|----------|-----------------|------------------|-----------------------------------------|--------------|-------------------|
| 1/9/23   | M               | Day05            | Decision Trees Part I                   | [N3](https://classroom.github.com/a/960Y0T8W)           | Q1               |
|          |                 |                  | Decision Trees Part II                  |              |                   |
| 1/10/23  | T               | Day06            | Intro to Scikit Learn                   | [N4](https://classroom.github.com/a/BFoBfBrR)           | N3                |
|          |                 |                  | Random Forests                          |              |                   |
| 1/11/23  | W               | Day07            | Project #1                                    | P1           | N4                |
|          |                 |                  | work time                                    |              |                   |
| 1/12/23  | R               | Day08            | SVM  | N5           |                   |
|          |                 |                  |   PCA                     |              |                   |
| 1/13/23  | F               | Day09            | Intro to Neural Networks -- Percpetrons               | Q2           | N5                |
|          |                 |                  | Perceptron Code                                |              |                   |

## Helpful Links:
üìÜ [Course Schedule](https://docs.google.com/spreadsheets/d/e/2PACX-1vStj3FCEJqloUMLn2VtHa4yy1ILY6WvABhu4jd4cVUpPGkrx1mEjfTFmd77DMESR9HJ-8UBxgMDJL06/pubhtml?gid=0&single=true) | üôã[PollEverywhere](https://pollev.com/meredithmoore011) | üìú [Syllabus](https://analytics.drake.edu/~moore/j23_cs167/Syllabus.html)

# Admin Stuff:
Grading:
- Notebook #1, and Notebook #2 are graded.

You should be working on: 
- [Notebook #4](https://classroom.github.com/a/BFoBfBrR) is due tonight by 11:59pm. 
- Project #1 is released today, due Tuesday 1/17 by 11:59.

# Today's Gameplan:

__Part 1__: Review and Intro to Project #1

__Part 2__: Catch up on Notebooks, work on Project #1

# Review:
Intro to Scikit Learn

In [1]:
# Mount your drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# The Scikit Learn 'Algorithm': 

When working in Scikit Learn (`sklearn`), there is a general pattern that we can follow to implement any supported machine learning algorithm.

It goes like this: 
1. Load your data using `pd.read_csv()`
2. Split your data `train_test_split()`
3. Create your classifier/regressor object
4. Call `fit()` to train your model
5. Call `predict()` to get predictions
6. Call a metric function to measure the performance of your model.

## Step by Step:

### 1. Load Data `pd.read_csv()`

In [3]:
from sklearn.model_selection import train_test_split
from sklearn import tree
from sklearn import metrics
import pandas as pd

path = '/content/drive/MyDrive/CS167/datasets/irisData.csv' #'/content/drive/MyDrive/CS167/datasets/irisData.csv'
iris_data = pd.read_csv(path)

### 2. Split Data `train_test_split()`

In [4]:
predictors = ['sepal length', 'sepal width','petal length', 'petal width']
target = "species"
train_data, test_data, train_sln, test_sln = \
        train_test_split(iris_data[predictors], iris_data[target], test_size = 0.2, random_state=41)

Sklearn takes this a step futher and splits the data up into 4 pieces: 
- `train_data`: holds the predictor variables of the training set
- `train_sln`: holds the target variable of the training set
- `test_data`: holds the predictor variables of the testing set
- `test_sln`: holds the target varibles of the testing set

<div>
<img src="https://github.com/merriekay/j23_cs167_notes/blob/main/images/day06_traintestsplit.png?raw=1" width=600/>
</div>

### 3. Create Your Model
> This is where a lot of your changes will go--adding parameters to the model constructor

In [5]:
dt = tree.DecisionTreeClassifier()

### 4. Call `fit()` to train your model

In [6]:
dt.fit(train_data,train_sln)

DecisionTreeClassifier()

### 5. Get Predictions using `predict()`

In [7]:
iris_predictions = dt.predict(test_data)

### 6. Evaluate the Model

Now that we have some predictions, we need to check to see how close we were by passing our predictions and the actual correct answers into a metric function. 

| **Type of ML** | **Name** | **sklearn doc**                | **Description**                                                                                              |
|----------------|:----|:---------------------------|:--------------------------------------------------------------------------------------------------------------|
| Classification | accuracy | [`metric.accuracy_score()`](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.accuracy_score.html)                  | Number correct examples divided by total number                                                              |
| Classification | confusion matrix | [`metrics.confusion_matrix`](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.confusion_matrix.html#sklearn.metrics.confusion_matrix)          | Detailed table of where our model got confused. |
| Regression     | MAE | [`metrics.mean_absolute_error`](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.confusion_matrix.html#sklearn.metrics.mean_absolute_error) | The average absolute distance from the target variable                                                       |
| Regression     | MSE | [`metrics.mean_squared_error`](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.confusion_matrix.html#sklearn.metrics.mean_squared_error)  | The average squared distance from the target variable                                                        |
| Regression     | $R^2$ | [`metrics.r2_score`](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.r2_score.html#sklearn.metrics.r2_score)                    | 1: perfectly fit data<br>0: same performance as guessing the mean of the target variable<br>-1: really bad.  |

In [8]:
print("Accuracy:", metrics.accuracy_score(test_sln,iris_predictions))

Accuracy: 0.9

## Models we've talked about so far:

#### k Nearest Neighbors: 
- [`sklearn.neighbors.KNeighborsClassifier()`](https://scikit-learn.org/stable/modules/generated/sklearn.neighbors.KNeighborsClassifier.html)
- [`sklearn.neighbors.KNeighborsRegressor()`](https://scikit-learn.org/stable/modules/generated/sklearn.neighbors.KNeighborsRegressor.html)

#### Decision Trees:
- [`sklearn.tree.DecisionTreeClassifier()`](https://scikit-learn.org/stable/modules/generated/sklearn.tree.DecisionTreeClassifier.html)
- [`sklearn.tree.DecisionTreeRegressor()`](https://scikit-learn.org/stable/modules/generated/sklearn.tree.DecisionTreeRegressor.html)

#### Random Forests:
- [`sklearn.ensemble.RandomForestClassifier()`](https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestClassifier.html)
- [`sklearn.ensemble.RandomForestRegressor()`](https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForesRegressor.html)

# ‚ú® New Material

Dummy Variables

Dummy Models:
- Dummy Classifier
- Dummy Regressor

Project #1

## Dummy Variables:
When you need to convert categorical variables to numeric variables, [`pd.get_dummies()`](https://pandas.pydata.org/docs/reference/api/pandas.get_dummies.html) is a really helpful function.

In [9]:
path = '/content/drive/MyDrive/CS167/datasets/titanic.csv' #'/content/drive/MyDrive/CS167/datasets/titanic.csv'
titanic = pd.read_csv(path)
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

### Things to Notice: `pd.get_dummies()` 
- `deck`, `sex`, and `embarked` used to be categorical variables, but they no longer exist in `titanic_dummies`
- instead, we have `deck_A`, `deck_B`, or `embarked_C`, `embarked_Q`, etc.
- when we call `pd.get_dummies()`, we pass in the original dataframe, and the columns we want to convert
- `pd.get_dummies()` returns a new dataframe without the categorical columns.

`pd.get_dummies(df, columns = ['col 1','col 2', 'col 3']`

In [10]:
titanic_dummies = pd.get_dummies(titanic, columns=['sex', 'embarked', 'deck'])
titanic_dummies.head()

,survived,pclass,age,sibsp,parch,fare,class,who,adult_male,embark_town,...,embarked_C,embarked_Q,embarked_S,deck_A,deck_B,deck_C,deck_D,deck_E,deck_F,deck_G
0,0,3,22.0,1,0,7.2500,Third,man,True,Southampton,...,0,0,1,0,0,0,0,0,0,0
1,1,1,38.0,1,0,71.2833,First,woman,False,Cherbourg,...,1,0,0,0,0,1,0,0,0,0
2,1,3,26.0,0,0,7.9250,Third,woman,False,Southampton,...,0,0,1,0,0,0,0,0,0,0
3,1,1,35.0,1,0,53.1000,First,woman,False,Southampton,...,0,0,1,0,0,1,0,0,0,0
4,0,3,35.0,0,0,8.0500,Third,man,True,Southampton,...,0,0,1,0,0,0,0,0,0,0

# üí¨ Discussion Question:

Let's brainstorm some __naive strategies__ of making predictions:
- You have a giant jar of jelly beans as well as each person in the classroom's prediction, how would you use this data to make your own prediction?
  - take the average of everyone else's predictions

- Now imagine your friend just trained her model and got an MSE of 0.76, and she is asking you if you think tha is a reasonable MSE. What would you tell her? Is there a way to test how good her MSE is?
  - need a baseline that uses 'naive' strategies to see how your metric compares to it

## Dummy Classifier:
A classifier that employs __naive strategies__ of machine learning to use as a baseline.

[`sklearn.dummy.DummyClassifier()`](https://scikit-learn.org/stable/modules/generated/sklearn.dummy.DummyClassifier.html) by default will guess the most commonly occuring class.
- `strategy='uniform'` will make random guesses

In [16]:
from sklearn.dummy import DummyClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

predictors = titanic.columns.drop('survived')
target= 'survived'

train_data, test_data, train_sln, test_sln = train_test_split(titanic[predictors], titanic[target], test_size = 0.2, random_state=9)

dummy_clf = DummyClassifier(strategy='uniform') #make random guesses 'most_frequent' predicts mode
dummy_clf.fit(train_data, train_sln)
preds = dummy_clf.predict(test_data)

print('Accuracy: ', accuracy_score(test_sln, preds))

Accuracy:  0.5586592178770949

So, a classifier that makes random guesses achieved a 53% accuracy. We should absolutley be able to do better than that.

## Dummy Regressor
A regressor that employs __naive strategies__ of machine learning to use as a baseline.
[`sklearn.dummy.DummyRegressor()`](https://scikit-learn.org/stable/modules/generated/sklearn.dummy.DummyRegressor.html) by default will guess the average of the target column.

In [21]:
path = '/content/drive/MyDrive/CS167/datasets/winequality-white.csv' #'/content/drive/MyDrive/CS167/datasets/winequality-white.csv'
wine =pd.read_csv(path)
wine.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [22]:
from sklearn.dummy import DummyRegressor
from sklearn import metrics

predictors = wine.columns.drop('quality')
target= 'quality'

train_data, test_data, train_sln, test_sln = train_test_split(wine[predictors], wine[target], test_size = 0.2, random_state=110)

dummy_regr = DummyRegressor() # will always predict the average of the target
dummy_regr.fit(train_data, train_sln)
preds = dummy_clf.predict(test_data)

print('MAE: ', metrics.mean_absolute_error(test_sln, preds))
print('MSE: ', metrics.mean_squared_error(test_sln, preds)) # why am i getting 32?
print('R2: ', metrics.r2_score(test_sln, preds))

MAE:  5.65625
MSE:  32.56875
R2:  -55.583644384119445

### How should we interpret this?

# Project #1:

10% of your final grade

__Due__: Friday, 1/13/23 by 11:59pm.

Github Classroom Link: https://classroom.github.com/a/WzQ5zexJ

## Learning Objectives:

For this project, you will use the scikit-learn library to conduct a machine learning experiment, and your write-up will ask you to explain what you did and interpret the results. 

This directly addresses two of the course learning objectives stated in the syllabus:
- Students will be able to create software which utilizes machine learning programming libraries in order to conduct machine-learning-based data analysis.
- Students will be able to develop and conduct machine-learning-based data analysis experiments, and they will be able to interpret and explain the results.

## Project Description:

Part of this project is for you to determine how to use this data to develop the model that most accurately predicts the target variable (and also determine what the best target variable is), thereby identifying what are the most important attributes.

# Project #1 Expectations: Written Portion
You will submit a link to your GitHub repository which includes your code and results to document your experiment.
And, most importantly, you will use markdown cells in the notebook to explain what you did, interpret the results, and draw conclusions.

The written markdown portions must include the following things:

1. __Name__: include your name at the top of the notebook

2. __Data Description__: Answer the following questions:
    - Explain what dataset you chose, and why you chose it. 
    - Specify which columns you are using as your __predictor variables__
    - What variable are you selecting as your __target variable__? 
    - In selecting this target variable, does this make your problem a __classification__ or a __regression__?

3. __Research Question__: As clearly/specifcially as possible, state the question you are trying to solve in this project.
    - For example, if I was working with the Iris dataset, I might ask 'how accurately can we predict the species of Iris from these 4 measurements?'

4. __Data Preparation__: Explain what pre-processing steps you chose to do to get your dataset in shape for your experiments. (e.g. creation of dummy variables, filling in missing values, normalization, etc.)

5. __Metrics__: Identify which metrics you will be using to test your model and say why they are appropriate.

6. __Baseline Performance__: Identify a baseline for your metrics--what woudld you expect to happen with this particular data if you always guessed the average or if you guessed randomly? Use `sklearn.dummy` to establish this baseline.

7. __Model Planning and Execution__: Identify which learning algorithms you have tried and which important parameteres you've tuned for each one.

8. __Results__: After you conduct your learning experiment, summarize the results you got. Include visualizations (i.e. graphs) where appropriate. How did you find the best k, n, m, or other variables that you needed to tune?

9. __Bumps in the road__: What challenges did you encounter? How did you overcome these challenges? Did you have to adapt your strategy to account for these challenges? Why or why not?

10. __Conclusions__: What insights/recommendations do you have? What di dyou find that was interesting? Which model was your best model, which modles didn't work as well? Why do you think this is ? In general, I want a discussion of your experiment, the results, and what they mean.

# Project #1 Expectations: Code Portion

For full credit, your experiments should include the following models:
- __k Nearest Neighbors__
- __weighted k Nearest Neighbors__
- __decision tree__
- __random forest__ 

You need to demonstrate the performance of these models on both __normalized__ and __non-normalized__ data. 

For each of the above models, you need to include a __graph of at least 1 tuned parameter__. 

Essentailly, you will be able to fill out this chart with your results:

| **Model**     | **Non-Normalized** | **Normalized** | **Parameter Tuned** |
|---------------|--------------------|----------------|---------------------|
| kNN           |                    |                |                     |
| w-kNN         |                    |                |                     |
| decision tree |                    |                |                     |
| random forest |                    |                |                     |

## Project Description: Dataset Choice

For this project, you will get to choose what dataset you use. The ones we've used in class (other than Iris/Titanic as they're pretty small) are all fair game (wine quality, breast cancer, spotify). 

Here are some other possibilities--Kaggle has many many more. It might be a good idea to double check with me before grabbing a dataset that's not listed here:
- ü•ë¬†[Avocado Prices](https://www.kaggle.com/datasets/neuromusic/avocado-prices)
- üéüÔ∏è¬†[Admission to University](https://www.kaggle.com/datasets/akshaydattatraykhare/data-for-admission-in-the-university)
- üèéÔ∏è¬†[Speed Dating](https://www.kaggle.com/datasets/whenamancodes/speed-dating)
- üéì¬†[World University Ranking](https://www.kaggle.com/datasets/whenamancodes/world-university-ranking-2022-2023)
- üì∏¬†[Top Instagram Influencers](https://www.kaggle.com/datasets/whenamancodes/top-200-influencers-crushing-on-instagram)
- üå¶Ô∏è¬†[Weather Prediction](https://www.kaggle.com/datasets/thedevastator/weather-prediction)
- ü§ë¬†[Student Monthly Expenses](https://www.kaggle.com/datasets/shariful07/nice-work-thanks-for-share)
- üç∫¬†[Student Alcohol Consumption](https://www.kaggle.com/datasets/uciml/student-alcohol-consumption)
- üè´¬†[College Score Card](https://www.kaggle.com/datasets/thedevastator/u-s-department-of-education-college-scorecard-da)
- üéÆ¬†[IMDB Video Games](https://www.kaggle.com/datasets/muhammadadiltalay/imdb-video-games)
- üéµ¬†[Spotify Recommendation](https://www.kaggle.com/datasets/bricevergnou/spotify-recommendation)

## Please, cite your sources

If you choose to use code that has not been provided to you in this class, please cite where you got the code from. A simple comment with the URL will suffice. 

This is especially true if you are choosing to use a dataset from Kaggle. There are lots of example notebooks for most Kaggle datasets, and while it's totally fine to look at these, using code from these notebooks without citing where you got it from could result in an academic integretity violation. 

### Kaggle Demonstration

# Tips on getting started:

Start by answering the questions that you can answer before you even start coding. Look at the datasets and decide which one you want to use. 

Use the template for building and testing a scikit-learn model. Start by doing the following:
- Change the example code to work with your new data
- Look for the appropriate documentation for the scikit-learn modules for the machine learning algorithms we have discussed in class.
- Try to produce a plot like the one you did in Notebook 3, but use sklearn like in the example for random forests 

### The rest of our time today is yours to work on P1, and/or get caught up on Notebooks.